version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      minor-and-patch:
        applies-to: "version-updates"
        update-types:
          - "minor"
          - "patch"
    ignore:
      # Ignore jooq and flyway plugin versions. These are codegen related, and have to align to the version used in spring-boot.
      - dependency-name: "org.jooq:jooq-codegen-maven"
      - dependency-name: "org.flywaydb:flyway-maven-plugin"


  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
